@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background-color: rgba(128, 128, 128, 0.186);
}

.container{
    position:fixed;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    background-color:rgba(255, 255, 255, 0.925);
    width: 98vw;
    margin: auto;
    border: none;
    border-radius: 20px;
}
.shweta{

    /* align-self: center; */
    color:#12005c;
    font-size: 27px;
    font-weight: 600;
    font-family: 'poppins', Courier, monospace;
    animation: shwetaa 0.7s ease-out;
    
}
@keyframes shwetaa {
    from{
        transform: translatex(-100px) ;
       color:rgba(255, 255, 255, 0.925);

    }
    to{
        transform: translateY(0) ;
        color: #12005c;;
    }
}

.item{
    font-family: 'poppins', Courier, monospace;
    display: flex;
    color:#12005c;
    align-items: center;
    gap: 2vw;
    
}
.items{
    list-style: none;
    
}
.items-link{
    font-family: 'poppins', Courier, monospace;
    text-decoration: none;
    color:#12005c;
    
}
.items-link:hover{
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: #12005c29;
}
.linkitems{
    height: 80vh;
    width: 100vw;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    left: 20vw;
    gap: 20px;
}

.linkitem{
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
.linktext{
    font-size: 40px;
    font-family: 'poppins', Courier, monospace;
     color: #ffffff;
}
.linkimg:hover{
    animation:anime 0.7s ease-in-out ;
}
@keyframes anime {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(25deg);
    }
    70%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(0deg);
        
    }
    
    
}
.linkimg{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 10px;
}
.projectsintro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45vh;
}
.projectheading{

    color:#12005c;
    font-family: 'poppins', Courier, monospace;
    font-size: 70px;
    animation: project 0.9s ease-out;

}
@keyframes project {
    from{
        transform:translatey(-20px);
        color:rgba(255, 255, 255, 0);
    }
    to{
        transform:translatey(0px);
        color:#12005c;
    }
    
}

